<html>
<head>
<title>LP-Chat</title>
</head>
<body>
<div align="center">
<font size="+3">Chat Login</font><br><br>
<form name="formular" method="post" action="/login" target="_self">
<table align="center">
 <tr>
  <td>User:</td>
  <td><input class="input" type="text" name="user" maxlength="20"></td>
 </tr>
 <tr> 
  <td>Passwort:</td>
  <td><input class="input" type="password" name="pass" maxlength="15"></td>
 </tr>
 <tr>
</table>
<table>
 <tr> 
  <td> <br /> 
  <input name="job" type="hidden" value="ok">
  <input name="cid" type="hidden" value="CHATNAME">
  <input class="submit" type="submit" name="login" value="Login">
 </td>
 </tr>
</table>
<br>
<table>
 <tr> 
  <p>Noch nicht registriert? <a href="/regist" target="_self"><b>Anmelden</b></a></p></td>
 </tr>
</table>
</form>
<br>
</div>
</body>
</html>