<html>

<head>
    <title>LPChat - Login</title>
</head>

<body>
    <form action="/auth" method="post">
        <ul>
          <li>
            <label for="login">Benutzer</label>
            <input id="login" name="username">
          </li>
          <li>
            <label for="pass">Passwort</label>
            <input id="pass" name="password" type="password">
          </li>
          <li>
            <button>anmelden</button>
          </li>
        </ul>
      </form>

</body>

</html>